# Extract

In [1]:
import requests
from datetime import date
import json

api_key = "TTKOHGL05DM097G0"
companies = ["AAPL", "GOOG", "MSFT"]

for company in companies:
  response = requests.get(f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={company}&interval=5min&apikey={api_key}")
  # with open(f"raw_data/{company}_{date.today()}.json", "w") as file:
  #   json.dump(response.json(), file)

# Transform

In [2]:
import pandas as pd


df = pd.read_json("raw_data/before_pydantic/AAPL_2025-10-02.json")
df.head()

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,AAPL,NaN
3. Last Refreshed,2025-10-01 19:55:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN

In [3]:
df = df[6:].reset_index()

In [4]:
df

,index,Meta Data,Time Series (5min)
0,2025-10-01 19:55:00,NaN,"{'1. open': '255.2500', '2. high': '255.2900',..."
1,2025-10-01 19:50:00,NaN,"{'1. open': '255.2500', '2. high': '255.3000',..."
2,2025-10-01 19:45:00,NaN,"{'1. open': '255.2343', '2. high': '255.3000',..."
3,2025-10-01 19:40:00,NaN,"{'1. open': '255.2200', '2. high': '255.3000',..."
4,2025-10-01 19:35:00,NaN,"{'1. open': '255.2800', '2. high': '255.3000',..."
...,...,...,...
95,2025-10-01 12:00:00,NaN,"{'1. open': '256.1000', '2. high': '256.4700',..."
96,2025-10-01 11:55:00,NaN,"{'1. open': '255.7900', '2. high': '256.1200',..."
97,2025-10-01 11:50:00,NaN,"{'1. open': '255.6856', '2. high': '255.7900',..."
98,2025-10-01 11:45:00,NaN,"{'1. open': '255.7950', '2. high': '256.0400',..."
99,2025-10-01 11:40:00,NaN,"{'1. open': '255.8400', '2. high': '255.8900',..."

In [5]:
cleaned_df = pd.json_normalize(df["Time Series (5min)"])
cleaned_df["date"] = df["index"]

In [6]:
cleaned_df.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume', 'date'], dtype='object')

In [7]:
cleaned_df.rename(columns={
    "1. open": "open", 
    "2. high": "high", 
    "3. low": "low", 
    "4. close": "close", 
    "5. volume": "volume"
}, inplace=True)

In [8]:
cleaned_df = cleaned_df[["date", "open", "high", "low", "close", "volume"]]

In [9]:
cleaned_df

                   date      open      high       low     close  volume
0   2025-10-01 19:55:00  255.2500  255.2900  255.2300  255.2800    1939
1   2025-10-01 19:50:00  255.2500  255.3000  255.2400  255.2585    1940
2   2025-10-01 19:45:00  255.2343  255.3000  255.2300  255.2500    2646
3   2025-10-01 19:40:00  255.2200  255.3000  255.2200  255.2500    2351
4   2025-10-01 19:35:00  255.2800  255.3000  255.2200  255.2600    2345
..                  ...       ...       ...       ...       ...     ...
95  2025-10-01 12:00:00  256.1000  256.4700  256.0900  256.3600  316957
96  2025-10-01 11:55:00  255.7900  256.1200  255.7200  256.1100  308784
97  2025-10-01 11:50:00  255.6856  255.7900  255.5500  255.7900  242616
98  2025-10-01 11:45:00  255.7950  256.0400  255.6200  255.6850  302899
99  2025-10-01 11:40:00  255.8400  255.8900  255.6900  255.7950  184322

[100 rows x 6 columns]

In [10]:
cleaned_df.dtypes

date      object
open      object
high      object
low       object
close     object
volume    object
dtype: object

In [11]:
cleaned_df["date"] = pd.to_datetime(cleaned_df["date"])
cleaned_df[["open", "high", "low", "close"]] = cleaned_df[["open", "high", "low", "close"]].astype("float")
cleaned_df["volume"] = cleaned_df["volume"].astype("int")

In [12]:
cleaned_df.dtypes

date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int32
dtype: object

In [13]:
cleaned_df["daily_change_percentage"] = ((cleaned_df["close"] - cleaned_df["open"]) / cleaned_df["open"]) * 100

In [14]:
cleaned_df

,date,open,high,low,close,volume,daily_change_percentage
0,2025-10-01 19:55:00,255.2500,255.29,255.23,255.2800,1939,0.011753
1,2025-10-01 19:50:00,255.2500,255.30,255.24,255.2585,1940,0.003330
2,2025-10-01 19:45:00,255.2343,255.30,255.23,255.2500,2646,0.006151
3,2025-10-01 19:40:00,255.2200,255.30,255.22,255.2500,2351,0.011755
4,2025-10-01 19:35:00,255.2800,255.30,255.22,255.2600,2345,-0.007835
...,...,...,...,...,...,...,...
95,2025-10-01 12:00:00,256.1000,256.47,256.09,256.3600,316957,0.101523
96,2025-10-01 11:55:00,255.7900,256.12,255.72,256.1100,308784,0.125103
97,2025-10-01 11:50:00,255.6856,255.79,255.55,255.7900,242616,0.040831
98,2025-10-01 11:45:00,255.7950,256.04,255.62,255.6850,302899,-0.043003
99,2025-10-01 11:40:00,255.8400,255.89,255.69,255.7950,184322,-0.017589

In [15]:
import pandas as pd
import os

def transform(file):
    df = pd.read_json(f"raw_data/before_pydantic/{file}")[6:].reset_index()

    cleaned_df = pd.json_normalize(df["Time Series (5min)"])
    cleaned_df["date"] = df["index"]
    cleaned_df.rename(columns={
        "1. open": "open", 
        "2. high": "high", 
        "3. low": "low", 
        "4. close": "close", 
        "5. volume": "volume"
    }, inplace=True)
    cleaned_df = cleaned_df[["date", "open", "high", "low", "close", "volume"]]


    cleaned_df["date"] = pd.to_datetime(cleaned_df["date"])
    cleaned_df[["open", "high", "low", "close"]] = cleaned_df[["open", "high", "low", "close"]].astype("float")
    cleaned_df["volume"] = cleaned_df["volume"].astype("int")


    cleaned_df["daily_change_percentage"] = ((cleaned_df["close"] - cleaned_df["open"]) / cleaned_df["open"]) * 100

    os.makedirs("cleaned_data", exist_ok=True)
    cleaned_df.to_json(f"./cleaned_data/{file}")

    return cleaned_df

In [16]:
for file in os.listdir("./raw_data/before_pydantic"):
    transform(file)

# Load

In [17]:
import sqlite3

conn = sqlite3.connect("./db/stocks.db")
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS stock_daily_data (
        symbol TEXT NOT NULL,
        date DATE NOT NULL,
        open_price REAL,
        high_price REAL,
        low_price REAL,
        close_price REAL,
        volume INTEGER,
        daily_change_percentage REAL,
        extraction_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (symbol, date)
    );
""")

conn.commit()
conn.close()

In [18]:
df = transform("MSFT_2025-10-02.json")

df

,date,open,high,low,close,volume,daily_change_percentage
0,2025-10-01 19:55:00,519.215,519.7000,519.1300,519.650,1368,0.083780
1,2025-10-01 19:50:00,519.200,519.3000,519.1000,519.300,289,0.019260
2,2025-10-01 19:45:00,518.870,519.3000,518.8700,519.200,771,0.063600
3,2025-10-01 19:40:00,518.870,519.3000,518.8700,519.200,1917,0.063600
4,2025-10-01 19:35:00,518.985,519.1000,518.8700,518.985,637,0.000000
...,...,...,...,...,...,...,...
95,2025-10-01 12:00:00,513.910,514.2700,513.8100,514.140,193798,0.044755
96,2025-10-01 11:55:00,514.070,514.3200,513.6500,513.905,110131,-0.032097
97,2025-10-01 11:50:00,514.080,514.4225,514.0200,514.020,105678,-0.011671
98,2025-10-01 11:45:00,514.390,514.4800,513.9100,514.075,132044,-0.061238
99,2025-10-01 11:40:00,515.110,515.2100,514.3254,514.420,97238,-0.133952

In [19]:
df["symbol"] = "MSFT"

In [20]:
df

,date,open,high,low,close,volume,daily_change_percentage,symbol
0,2025-10-01 19:55:00,519.215,519.7000,519.1300,519.650,1368,0.083780,MSFT
1,2025-10-01 19:50:00,519.200,519.3000,519.1000,519.300,289,0.019260,MSFT
2,2025-10-01 19:45:00,518.870,519.3000,518.8700,519.200,771,0.063600,MSFT
3,2025-10-01 19:40:00,518.870,519.3000,518.8700,519.200,1917,0.063600,MSFT
4,2025-10-01 19:35:00,518.985,519.1000,518.8700,518.985,637,0.000000,MSFT
...,...,...,...,...,...,...,...,...
95,2025-10-01 12:00:00,513.910,514.2700,513.8100,514.140,193798,0.044755,MSFT
96,2025-10-01 11:55:00,514.070,514.3200,513.6500,513.905,110131,-0.032097,MSFT
97,2025-10-01 11:50:00,514.080,514.4225,514.0200,514.020,105678,-0.011671,MSFT
98,2025-10-01 11:45:00,514.390,514.4800,513.9100,514.075,132044,-0.061238,MSFT
99,2025-10-01 11:40:00,515.110,515.2100,514.3254,514.420,97238,-0.133952,MSFT

In [21]:

df['date'] = df['date'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [22]:
df = df[["symbol", "date", "open", "high", "low", "close", "volume", "daily_change_percentage"]]

In [23]:
conn = sqlite3.connect("./db/stocks.db")
cursor = conn.cursor()

sql_command = """
    INSERT INTO stock_daily_data (symbol, date, open_price, high_price, low_price, close_price, volume, daily_change_percentage)
    VALUES (?,?,?,?,?,?,?,?) 
"""

data_into_table = df.values.tolist()

cursor.executemany(sql_command, data_into_table)

conn.commit()
conn.close()

# Final Code Without Pydantic

In [24]:
import pandas as pd
import os
import sqlite3

def transform_load(file):
    # Reading json files
    df = pd.read_json(f"raw_data/{file}")[6:].reset_index()

    # Cleaning and renaming
    cleaned_df = pd.json_normalize(df["Time Series (5min)"])
    cleaned_df["date"] = df["index"]
    cleaned_df.rename(columns={
        "1. open": "open", 
        "2. high": "high", 
        "3. low": "low", 
        "4. close": "close", 
        "5. volume": "volume"
    }, inplace=True)

    # Changing types
    cleaned_df["date"] = pd.to_datetime(cleaned_df["date"])
    cleaned_df[["open", "high", "low", "close"]] = cleaned_df[["open", "high", "low", "close"]].astype("float")
    cleaned_df["volume"] = cleaned_df["volume"].astype("int")

    # Changing timestamp to add into sqlite database
    cleaned_df['date'] = cleaned_df['date'].dt.strftime('%Y-%m-%d %H:%M:%S')
    
    # adding new columns
    cleaned_df["daily_change_percentage"] = ((cleaned_df["close"] - cleaned_df["open"]) / cleaned_df["open"]) * 100
    cleaned_df["symbol"] = file.split("_")[0] # symbol column for database

    # Changing order of the columns
    cleaned_df = cleaned_df[["symbol", "date", "open", "high", "low", "close", "volume", "daily_change_percentage"]]

    # Saving cleaned data into json files
    os.makedirs("cleaned_data", exist_ok=True)
    cleaned_df.to_json(f"./cleaned_data/{file}")


    # create Sqlite database
    conn = sqlite3.connect("./db/stocks.db")
    cursor = conn.cursor()

    # Primary key is symbol and date to "Make sure no duplicate records are inserted for the same stock/date"
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS stock_daily_data (
            symbol TEXT NOT NULL,
            date DATE NOT NULL,
            open_price REAL,
            high_price REAL,
            low_price REAL,
            close_price REAL,
            volume INTEGER,
            daily_change_percentage REAL,
            extraction_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            PRIMARY KEY (symbol, date)
        );
    """)

    sql_command = """
        INSERT INTO stock_daily_data (symbol, date, open_price, high_price, low_price, close_price, volume, daily_change_percentage)
        VALUES (?,?,?,?,?,?,?,?) 
    """
    data_into_table = cleaned_df.values.tolist()

    cursor.executemany(sql_command, data_into_table)

    conn.commit()
    conn.close()


    return cleaned_df

In [25]:
for file in os.listdir("./raw_data/before_pydantic"):
    transform(file)

# Pydantic Test

In [26]:
%pip install pydantic[root]

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pydantic[root] in c:\users\andre\anaconda3\lib\site-packages (2.11.9)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[root]) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[root]) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[root]) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[root]) (0.4.2)

WARNING: pydantic 2.11.9 does not provide the extra 'root'

In [27]:
%pip install pydantic[email]

Requirement already satisfied: pydantic[email] in c:\users\andre\anaconda3\lib\site-packages (2.11.9)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[email]) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[email]) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[email]) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[email]) (0.4.2)
Requirement already satisfied: email-validator>=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from pydantic[email]) (2.3.0)
Requirement already satisfied: dnspython>=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from email-validator>=2.0.0->pydantic[email]) (2.8.0)
Requirement already satisfied: idna>=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from email-validator>=2.0.0->pydantic[email]) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [28]:
data = {
    "2025-10-01T10:00:00": {
        "temperature": "22.5",
        "humidity": "60"
    },
    "2025-10-01T11:00:00": {
        "temperature": "23.1",
        "humidity": "58"
    }
}

In [29]:
from pydantic import BaseModel, RootModel, EmailStr
from typing import Dict

class Measurement(BaseModel):
    temperature: float
    humidity: int

class SensorResponse(RootModel[Dict[str, Measurement]]):
    pass

In [30]:
p = SensorResponse.model_validate(data)

# print(p)
print(p)

root={'2025-10-01T10:00:00': Measurement(temperature=22.5, humidity=60), '2025-10-01T11:00:00': Measurement(temperature=23.1, humidity=58)}

In [31]:
from pydantic import BaseModel, RootModel, Field
from typing import Dict

class Observation(BaseModel):
    open: float = Field(alias="1. open")
    high: float = Field(alias="2. high")
    low: float = Field(alias="3. low")
    close: float = Field(alias="4. close")
    volume: int = Field(alias="5. volume")

class TimeSeries(RootModel[Dict[str, Observation]]):
    pass

class MetaDataIntraday(BaseModel):
    Information: str = Field(alias="1. Information")
    Symbol: str = Field(alias="2. Symbol")
    Last_Refreshed: str = Field(alias="3. Last Refreshed")
    Interval: str = Field(alias="4. Interval")
    Output_Size: str = Field(alias="5. Output Size")
    Time_Zone: str = Field(alias="6. Time Zone")

class ApiResponse(BaseModel):
    meta_data: MetaDataIntraday = Field(alias="Meta Data")
    time_series: TimeSeries = Field(alias="Time Series (5min)")

In [42]:
import requests

api_key = "PY21HHFY6FPLE9Y3"
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=5min&apikey={api_key}"
response = requests.get(url).json()

try:
    validated = ApiResponse.model_validate(response)
    print(validated.time_series.model_dump())
except Exception as e:
    print("Error:", e)

{'2025-10-03 19:55:00': {'open': 257.86, 'high': 257.9, 'low': 257.85, 'close': 257.9, 'volume': 1600}, '2025-10-03 19:50:00': {'open': 257.86, 'high': 257.9, 'low': 257.85, 'close': 257.85, 'volume': 2393}, '2025-10-03 19:45:00': {'open': 257.85, 'high': 257.9, 'low': 257.85, 'close': 257.85, 'volume': 1533}, '2025-10-03 19:40:00': {'open': 257.85, 'high': 257.9, 'low': 257.85, 'close': 257.85, 'volume': 799}, '2025-10-03 19:35:00': {'open': 257.8045, 'high': 257.9788, 'low': 257.8, 'close': 257.84, 'volume': 138}, '2025-10-03 19:30:00': {'open': 257.77, 'high': 257.91, 'low': 257.77, 'close': 257.9, 'volume': 1794}, '2025-10-03 19:25:00': {'open': 257.92, 'high': 257.97, 'low': 257.71, 'close': 257.97, 'volume': 3096}, '2025-10-03 19:20:00': {'open': 257.95, 'high': 257.9799, 'low': 257.91, 'close': 257.93, 'volume': 387}, '2025-10-03 19:15:00': {'open': 257.94, 'high': 257.99, 'low': 257.91, 'close': 257.95, 'volume': 532}, '2025-10-03 19:10:00': {'open': 257.97, 'high': 257.99, 'low': 257.9, 'close': 257.97, 'volume': 493}, '2025-10-03 19:05:00': {'open': 257.99, 'high': 258.0, 'low': 257.91, 'close': 257.97, 'volume': 1498}, '2025-10-03 19:00:00': {'open': 257.95, 'high': 258.0, 'low': 257.95, 'close': 257.99, 'volume': 1691}, '2025-10-03 18:55:00': {'open': 257.99, 'high': 258.0, 'low': 257.93, 'close': 258.0, 'volume': 21475}, '2025-10-03 18:50:00': {'open': 257.93, 'high': 257.99, 'low': 257.93, 'close': 257.9825, 'volume': 4575}, '2025-10-03 18:45:00': {'open': 257.95, 'high': 257.95, 'low': 257.93, 'close': 257.93, 'volume': 990}, '2025-10-03 18:40:00': {'open': 257.85, 'high': 257.95, 'low': 257.85, 'close': 257.93, 'volume': 1658}, '2025-10-03 18:35:00': {'open': 257.81, 'high': 257.88, 'low': 257.81, 'close': 257.84, 'volume': 1145}, '2025-10-03 18:30:00': {'open': 257.84, 'high': 257.88, 'low': 257.8, 'close': 257.87, 'volume': 485}, '2025-10-03 18:25:00': {'open': 257.83, 'high': 257.9, 'low': 257.8, 'close': 257.83, 'volume': 457}, '2025-10-03 18:20:00': {'open': 257.83, 'high': 257.9, 'low': 257.7725, 'close': 257.8, 'volume': 1478}, '2025-10-03 18:15:00': {'open': 257.84, 'high': 257.87, 'low': 257.83, 'close': 257.83, 'volume': 183}, '2025-10-03 18:10:00': {'open': 257.83, 'high': 257.87, 'low': 257.83, 'close': 257.83, 'volume': 1113}, '2025-10-03 18:05:00': {'open': 257.8301, 'high': 257.87, 'low': 257.83, 'close': 257.84, 'volume': 712}, '2025-10-03 18:00:00': {'open': 257.87, 'high': 257.87, 'low': 257.83, 'close': 257.83, 'volume': 259}, '2025-10-03 17:55:00': {'open': 257.8, 'high': 257.87, 'low': 257.77, 'close': 257.85, 'volume': 1424}, '2025-10-03 17:50:00': {'open': 257.78, 'high': 272.0479, 'low': 241.1204, 'close': 257.81, 'volume': 536}, '2025-10-03 17:45:00': {'open': 257.87, 'high': 257.87, 'low': 257.77, 'close': 257.77, 'volume': 1478}, '2025-10-03 17:40:00': {'open': 257.87, 'high': 257.87, 'low': 257.77, 'close': 257.87, 'volume': 425}, '2025-10-03 17:35:00': {'open': 257.83, 'high': 257.87, 'low': 257.7962, 'close': 257.81, 'volume': 2835}, '2025-10-03 17:30:00': {'open': 257.82, 'high': 272.0479, 'low': 241.1204, 'close': 257.866, 'volume': 2543}, '2025-10-03 17:25:00': {'open': 257.82, 'high': 257.86, 'low': 257.82, 'close': 257.82, 'volume': 1136}, '2025-10-03 17:20:00': {'open': 257.82, 'high': 257.97, 'low': 257.8, 'close': 257.82, 'volume': 3299}, '2025-10-03 17:15:00': {'open': 257.86, 'high': 257.98, 'low': 257.81, 'close': 257.82, 'volume': 1439}, '2025-10-03 17:10:00': {'open': 257.81, 'high': 257.85, 'low': 257.81, 'close': 257.81, 'volume': 7202}, '2025-10-03 17:05:00': {'open': 257.82, 'high': 257.89, 'low': 257.81, 'close': 257.81, 'volume': 1930}, '2025-10-03 17:00:00': {'open': 257.94, 'high': 258.0, 'low': 257.82, 'close': 257.82, 'volume': 912}, '2025-10-03 16:55:00': {'open': 257.99, 'high': 257.99, 'low': 257.82, 'close': 257.82, 'volume': 850}, '2025-10-03 16:50:00': {'open': 258.0, 'high': 258.02, 'low': 257.81, 'close': 257.99, 'volume': 5854}, '2025-10-03 16:45:00': {'open': 257.96, 'high': 258.0, 'low': 257.81, 'close': 257.81, 'volume': 1437}, '2025-10-03 16:40:00': {'open': 257.8508, 'high': 258.02, 'low': 257.8147, 'close': 257.95, 'volume': 505986}, '2025-10-03 16:35:00': {'open': 257.94, 'high': 258.02, 'low': 257.81, 'close': 257.82, 'volume': 2725}, '2025-10-03 16:30:00': {'open': 257.8275, 'high': 257.94, 'low': 257.81, 'close': 257.8144, 'volume': 4215}, '2025-10-03 16:25:00': {'open': 257.8, 'high': 257.9, 'low': 257.8, 'close': 257.86, 'volume': 351}, '2025-10-03 16:20:00': {'open': 257.8875, 'high': 257.92, 'low': 257.8, 'close': 257.85, 'volume': 2977}, '2025-10-03 16:15:00': {'open': 258.02, 'high': 258.02, 'low': 257.88, 'close': 257.88, 'volume': 2730}, '2025-10-03 16:10:00': {'open': 258.02, 'high': 258.0342, 'low': 257.81, 'close': 257.9, 'volume': 8133}, '2025-10-03 16:05:00': {'open': 258.03, 'high': 258.11, 'low': 195.27, 'close': 257.86, 'volume': 15457}, '2025-10-03 16:00:00': {'open': 258.0488, 'high': 258.09, 'low': 257.71, 'close': 257.91, 'volume': 11739645}, '2025-10-03 15:55:00': {'open': 257.68, 'high': 258.07, 'low': 257.6, 'close': 258.015, 'volume': 2036490}, '2025-10-03 15:50:00': {'open': 257.96, 'high': 257.96, 'low': 257.34, 'close': 257.6826, 'volume': 857471}, '2025-10-03 15:45:00': {'open': 257.985, 'high': 258.2, 'low': 257.9, 'close': 257.97, 'volume': 435002}, '2025-10-03 15:40:00': {'open': 257.91, 'high': 258.26, 'low': 257.9077, 'close': 258.0, 'volume': 435212}, '2025-10-03 15:35:00': {'open': 258.02, 'high': 258.02, 'low': 257.85, 'close': 257.915, 'volume': 302812}, '2025-10-03 15:30:00': {'open': 257.92, 'high': 258.0501, 'low': 257.87, 'close': 258.0251, 'volume': 401078}, '2025-10-03 15:25:00': {'open': 257.88, 'high': 258.0, 'low': 257.865, 'close': 257.92, 'volume': 243164}, '2025-10-03 15:20:00': {'open': 258.07, 'high': 258.1, 'low': 257.84, 'close': 257.88, 'volume': 222233}, '2025-10-03 15:15:00': {'open': 258.0101, 'high': 258.169, 'low': 257.92, 'close': 258.0639, 'volume': 189590}, '2025-10-03 15:10:00': {'open': 258.08, 'high': 258.22, 'low': 258.01, 'close': 258.02, 'volume': 240370}, '2025-10-03 15:05:00': {'open': 258.24, 'high': 258.24, 'low': 258.0, 'close': 258.0778, 'volume': 266835}, '2025-10-03 15:00:00': {'open': 258.35, 'high': 258.4126, 'low': 258.12, 'close': 258.24, 'volume': 234698}, '2025-10-03 14:55:00': {'open': 258.46, 'high': 258.5297, 'low': 258.33, 'close': 258.3303, 'volume': 220197}, '2025-10-03 14:50:00': {'open': 258.38, 'high': 258.51, 'low': 258.3101, 'close': 258.45, 'volume': 243722}, '2025-10-03 14:45:00': {'open': 258.48, 'high': 258.59, 'low': 258.35, 'close': 258.3826, 'volume': 314053}, '2025-10-03 14:40:00': {'open': 258.2372, 'high': 258.52, 'low': 258.1801, 'close': 258.4729, 'volume': 338053}, '2025-10-03 14:35:00': {'open': 258.21, 'high': 258.3007, 'low': 258.0477, 'close': 258.25, 'volume': 197554}, '2025-10-03 14:30:00': {'open': 258.37, 'high': 258.46, 'low': 258.09, 'close': 258.21, 'volume': 339847}, '2025-10-03 14:25:00': {'open': 258.2, 'high': 258.59, 'low': 258.19, 'close': 258.37, 'volume': 544410}, '2025-10-03 14:20:00': {'open': 257.83, 'high': 258.24, 'low': 257.81, 'close': 258.2, 'volume': 447914}, '2025-10-03 14:15:00': {'open': 257.58, 'high': 258.0, 'low': 257.54, 'close': 257.83, 'volume': 672243}, '2025-10-03 14:10:00': {'open': 257.2, 'high': 257.63, 'low': 257.0701, 'close': 257.595, 'volume': 398754}, '2025-10-03 14:05:00': {'open': 257.165, 'high': 257.34, 'low': 256.96, 'close': 257.2, 'volume': 402751}, '2025-10-03 14:00:00': {'open': 257.436, 'high': 257.5, 'low': 257.1, 'close': 257.16, 'volume': 248596}, '2025-10-03 13:55:00': {'open': 257.17, 'high': 257.69, 'low': 257.13, 'close': 257.4372, 'volume': 378372}, '2025-10-03 13:50:00': {'open': 257.6014, 'high': 257.6171, 'low': 257.12, 'close': 257.16, 'volume': 898258}, '2025-10-03 13:45:00': {'open': 257.81, 'high': 257.83, 'low': 257.45, 'close': 257.6, 'volume': 367581}, '2025-10-03 13:40:00': {'open': 258.1101, 'high': 258.12, 'low': 257.77, 'close': 257.81, 'volume': 389379}, '2025-10-03 13:35:00': {'open': 258.0146, 'high': 258.1966, 'low': 257.9101, 'close': 258.13, 'volume': 364708}, '2025-10-03 13:30:00': {'open': 258.3, 'high': 258.33, 'low': 258.0145, 'close': 258.015, 'volume': 346385}, '2025-10-03 13:25:00': {'open': 258.42, 'high': 258.46, 'low': 258.23, 'close': 258.31, 'volume': 229644}, '2025-10-03 13:20:00': {'open': 258.36, 'high': 258.63, 'low': 258.33, 'close': 258.38, 'volume': 217932}, '2025-10-03 13:15:00': {'open': 258.54, 'high': 258.56, 'low': 258.35, 'close': 258.36, 'volume': 218976}, '2025-10-03 13:10:00': {'open': 258.36, 'high': 258.65, 'low': 258.32, 'close': 258.54, 'volume': 292392}, '2025-10-03 13:05:00': {'open': 258.33, 'high': 258.5, 'low': 258.12, 'close': 258.365, 'volume': 413046}, '2025-10-03 13:00:00': {'open': 258.8099, 'high': 258.8099, 'low': 258.235, 'close': 258.34, 'volume': 473322}, '2025-10-03 12:55:00': {'open': 258.88, 'high': 258.93, 'low': 258.7701, 'close': 258.795, 'volume': 273700}, '2025-10-03 12:50:00': {'open': 258.6, 'high': 258.9, 'low': 258.6, 'close': 258.8887, 'volume': 327557}, '2025-10-03 12:45:00': {'open': 258.63, 'high': 258.67, 'low': 258.55, 'close': 258.61, 'volume': 228046}, '2025-10-03 12:40:00': {'open': 258.42, 'high': 258.625, 'low': 258.32, 'close': 258.625, 'volume': 266399}, '2025-10-03 12:35:00': {'open': 258.55, 'high': 258.59, 'low': 258.19, 'close': 258.42, 'volume': 285297}, '2025-10-03 12:30:00': {'open': 258.54, 'high': 258.64, 'low': 258.47, 'close': 258.55, 'volume': 182426}, '2025-10-03 12:25:00': {'open': 258.48, 'high': 258.58, 'low': 258.35, 'close': 258.5487, 'volume': 202315}, '2025-10-03 12:20:00': {'open': 258.74, 'high': 258.82, 'low': 258.41, 'close': 258.465, 'volume': 195258}, '2025-10-03 12:15:00': {'open': 258.41, 'high': 258.86, 'low': 258.4, 'close': 258.743, 'volume': 330983}, '2025-10-03 12:10:00': {'open': 258.5, 'high': 258.54, 'low': 258.3186, 'close': 258.4, 'volume': 230231}, '2025-10-03 12:05:00': {'open': 258.28, 'high': 258.6, 'low': 258.2571, 'close': 258.485, 'volume': 250104}, '2025-10-03 12:00:00': {'open': 258.4131, 'high': 258.48, 'low': 258.2605, 'close': 258.2605, 'volume': 280904}, '2025-10-03 11:55:00': {'open': 258.43, 'high': 258.473, 'low': 258.26, 'close': 258.405, 'volume': 248549}, '2025-10-03 11:50:00': {'open': 258.47, 'high': 258.6, 'low': 258.31, 'close': 258.43, 'volume': 382027}, '2025-10-03 11:45:00': {'open': 258.7994, 'high': 258.84, 'low': 258.3, 'close': 258.465, 'volume': 507432}, '2025-10-03 11:40:00': {'open': 258.84, 'high': 259.24, 'low': 258.57, 'close': 258.8, 'volume': 1091092}}

In [63]:
pd.DataFrame(validated.time_series.model_dump()).T.reset_index().rename({"index": "date"})

                  index      open    high      low     close    volume
0   2025-10-03 19:55:00  516.6700  517.00  516.670  516.9500     687.0
1   2025-10-03 19:50:00  516.8200  517.00  516.650  516.8350     766.0
2   2025-10-03 19:45:00  516.8900  517.00  516.600  516.8200    1101.0
3   2025-10-03 19:40:00  516.9900  517.00  516.670  516.8800     232.0
4   2025-10-03 19:35:00  516.8000  517.00  516.670  517.0000     217.0
..                  ...       ...     ...      ...       ...       ...
95  2025-10-03 12:00:00  519.6921  520.13  519.690  520.0300  113735.0
96  2025-10-03 11:55:00  519.7600  519.88  519.550  519.6450   73446.0
97  2025-10-03 11:50:00  519.8100  520.03  519.680  519.7835   99089.0
98  2025-10-03 11:45:00  519.5900  519.81  519.415  519.8100   69124.0
99  2025-10-03 11:40:00  519.5650  519.70  519.275  519.6250   94840.0

[100 rows x 6 columns]

In [ ]:
import requests
from datetime import date
import json

api_key = "TTKOHGL05DM097G0"
companies = ["AAPL", "GOOG", "MSFT"]

for company in companies:
  response = requests.get(f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={company}&interval=5min&apikey={api_key}").json()
  
  validated = ApiResponse.model_validate(response)
  df_from_api = pd.DataFrame(validated.time_series.model_dump()).T
  df_from_api.reset_index(inplace=True)
  df_from_api.rename(columns={"index": "date"}, inplace=True)

  result = df_from_api

In [ ]:
result.renam

                  index      open    high      low     close    volume
0   2025-10-03 19:55:00  516.6700  517.00  516.670  516.9500     687.0
1   2025-10-03 19:50:00  516.8200  517.00  516.650  516.8350     766.0
2   2025-10-03 19:45:00  516.8900  517.00  516.600  516.8200    1101.0
3   2025-10-03 19:40:00  516.9900  517.00  516.670  516.8800     232.0
4   2025-10-03 19:35:00  516.8000  517.00  516.670  517.0000     217.0
..                  ...       ...     ...      ...       ...       ...
95  2025-10-03 12:00:00  519.6921  520.13  519.690  520.0300  113735.0
96  2025-10-03 11:55:00  519.7600  519.88  519.550  519.6450   73446.0
97  2025-10-03 11:50:00  519.8100  520.03  519.680  519.7835   99089.0
98  2025-10-03 11:45:00  519.5900  519.81  519.415  519.8100   69124.0
99  2025-10-03 11:40:00  519.5650  519.70  519.275  519.6250   94840.0

[100 rows x 6 columns]

# Final Code With Pydantic

In [ ]:
def transform(file):
    # Reading json files
    df = pd.read_json(f"raw_data/{file}")

    # adding new columns
    df["daily_change_percentage"] = ((df["close"] - df["open"]) / df["open"]) * 100
    df["symbol"] = file.split("_")[0]

    # Changing timestamp to add it into sqlite database
    df['date'] = df['date'].dt.strftime('%Y-%m-%d %H:%M:%S')

    # Changing order of the columns
    df = df[["symbol", "date", "open", "high", "low", "close", "volume", "daily_change_percentage"]]

    print(df)

In [76]:
for file in os.listdir("./raw_data"):
    transform(file)

   symbol                 date      open      high       low     close  \
0    AAPL  2025-10-03 19:55:00  257.8600  257.9000  257.8500  257.9000
1    AAPL  2025-10-03 19:50:00  257.8600  257.9000  257.8500  257.8500
2    AAPL  2025-10-03 19:45:00  257.8500  257.9000  257.8500  257.8500
3    AAPL  2025-10-03 19:40:00  257.8500  257.9000  257.8500  257.8500
4    AAPL  2025-10-03 19:35:00  257.8045  257.9788  257.8000  257.8400
..    ...                  ...       ...       ...       ...       ...
95   AAPL  2025-10-03 12:00:00  258.4131  258.4800  258.2605  258.2605
96   AAPL  2025-10-03 11:55:00  258.4300  258.4730  258.2600  258.4050
97   AAPL  2025-10-03 11:50:00  258.4700  258.6000  258.3100  258.4300
98   AAPL  2025-10-03 11:45:00  258.7994  258.8400  258.3000  258.4650
99   AAPL  2025-10-03 11:40:00  258.8400  259.2400  258.5700  258.8000

     volume  daily_change_percentage
0      1600                 0.015512
1      2393                -0.003878
2      1533                 0.000000
3       799                 0.000000
4       138                 0.013770
..      ...                      ...
95   280904                -0.059053
96   248549                -0.009674
97   382027                -0.015476
98   507432                -0.129212
99  1091092                -0.015454

[100 rows x 8 columns]
   symbol                 date     open     high       low     close  volume  \
0    GOOG  2025-10-03 19:55:00  246.190  246.250  246.0001  246.0001     616
1    GOOG  2025-10-03 19:50:00  246.030  246.600  246.0300  246.1900     577
2    GOOG  2025-10-03 19:45:00  246.140  246.140  246.0000  246.0000     220
3    GOOG  2025-10-03 19:40:00  245.920  246.140  245.9200  246.1100      11
4    GOOG  2025-10-03 19:35:00  246.110  246.140  246.1100  246.1400      11
..    ...                  ...      ...      ...       ...       ...     ...
95   GOOG  2025-10-03 12:00:00  245.635  245.980  244.9700  245.8900  396187
96   GOOG  2025-10-03 11:55:00  245.620  245.980  245.4900  245.6300  266582
97   GOOG  2025-10-03 11:50:00  245.320  245.635  245.1772  245.6250  139017
98   GOOG  2025-10-03 11:45:00  244.635  245.400  244.5600  245.3000  113505
99   GOOG  2025-10-03 11:40:00  244.940  244.959  244.2300  244.6350  157751

    daily_change_percentage
0                 -0.077136
1                  0.065033
2                 -0.056878
3                  0.077261
4                  0.012190
..                      ...
95                 0.103813
96                 0.004071
97                 0.124327
98                 0.271834
99                -0.124520

[100 rows x 8 columns]
   symbol                 date      open    high      low     close  volume  \
0    MSFT  2025-10-03 19:55:00  516.6700  517.00  516.670  516.9500     687
1    MSFT  2025-10-03 19:50:00  516.8200  517.00  516.650  516.8350     766
2    MSFT  2025-10-03 19:45:00  516.8900  517.00  516.600  516.8200    1101
3    MSFT  2025-10-03 19:40:00  516.9900  517.00  516.670  516.8800     232
4    MSFT  2025-10-03 19:35:00  516.8000  517.00  516.670  517.0000     217
..    ...                  ...       ...     ...      ...       ...     ...
95   MSFT  2025-10-03 12:00:00  519.6921  520.13  519.690  520.0300  113735
96   MSFT  2025-10-03 11:55:00  519.7600  519.88  519.550  519.6450   73446
97   MSFT  2025-10-03 11:50:00  519.8100  520.03  519.680  519.7835   99089
98   MSFT  2025-10-03 11:45:00  519.5900  519.81  519.415  519.8100   69124
99   MSFT  2025-10-03 11:40:00  519.5650  519.70  519.275  519.6250   94840

    daily_change_percentage
0                  0.054193
1                  0.002902
2                 -0.013543
3                 -0.021277
4                  0.038700
..                      ...
95                 0.065019
96                -0.022126
97                -0.005098
98                 0.042341
99                 0.011548

[100 rows x 8 columns]